@import url('all.css');

/* ======== bg_elements ======= */

.star1{
    display: none;
}

/* ======== main_block ======= */

.main_block h3{
    text-align: center;
    margin: 50px auto;
}

/* ======== contact_block ======= */

.contact_block{
    margin: 0 200px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 90px;
}

.contact_block form{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

input[type="text"], input[type="email"], input[type="tel"]{
    height: 25px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3A302A;
}

textarea{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3A302A;

    font-family: serif;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, textarea:focus{
    outline: none;
    /* background-color: #CDD9DD; */
    color: #3A302A;

}

.contact_block form label, .contact_block form input, .contact_block form textarea, .time_ratio input, .time_ratio label, .time_ratio{
    margin-bottom: 20px;
}

input[type='submit']{
    border: none;
    margin: 20px 0;

    background-color: #98A498;
    color: #fff;
    line-height: 3;
    border-radius: 5px;

    cursor: pointer;
}

@media screen and (max-width: 415px){
    .contact_block{
        margin: 20px;
        padding: 40px;
    }

    input[type="text"], input[type="email"], input[type="tel"]{
        padding: 5px;
    }

}