@import url('all.css');

/* ======== bg_elements ======= */

.star1{
    display: none;
}

/* ======== nav ======= */

nav {}

nav .hamb{
    display: block;
    position: fixed;
    left: 20px;
    top: 20px;
    opacity: .8;
    z-index: 100;
    text-shadow: 0px 0px 1px #fff;

}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: start;

    position: fixed;
    z-index: 100;
    top: 50px;
    left: -30vw;

    background-color: #ECE9E0;
    width: 20vw;
    height: calc(100vh - 30px);
    padding: 20px;

    transition: .5s;
}

.cart_num{
    right: 140px;
    bottom: 225px;
}

.overlay{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 98;
}

/* ======== ul shown ======= */

.overlay.shown{
    display: block;
}

nav .-shown{
    left: 0;
}

nav .-shown li{
    margin: 10px;
}

.nav .dropdown{
    display: none;
}

.nav > ul > li:nth-child(2):hover .dropdown{
    display: none;
}

/* ======== outer grid ======= */

.outer_grid{
    background-image: url('../img/product/img1.jpg');
    background-position: 0px;
    background-size: 56vw 110vh;
    background-repeat: no-repeat;
    background-attachment: fixed
}

.inner_grid{
    height: 110vh;

    display: grid;
    grid-template-columns: repeat(12,88px);
    column-gap: 20px;
    grid-auto-flow: row;
    grid-template-areas: 
    ". . . . . . . text text text text text";
}

.text_block{
    grid-area: text;
    box-sizing: border-box;
    padding: 60px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text{}

.subtitle{
    font-family: 'noto sans';
    font-size: 12px;
    letter-spacing: 8px;
    padding-bottom: 30px;
}

.text .title{
    padding-bottom: 40px;
    text-indent: -2px;
}

.price{
    font-family: 'noto sans';
    font-size: 24px;
    letter-spacing: 3px;
    padding-bottom: 80px;
}

.text p{
    line-height: 1.5;
    letter-spacing: 3px;
}

.policy{
    padding-top: 20px;
    display: flex;
}

.policy a{
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 5px 8px;
    border: 1px solid #3A302A;
    border-radius: 5px;
    margin: 5px;
}

.policy a:hover{
    transform: scale(1.1);
}

.lightbox-overlay{
    display: none;

    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.lightbox-overlay.-shown{
    display: block;
}

.lightbox{
    width: 400px;
    height: 400px;
    background-color: #fff;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    border-radius: 5px;
}

.lightbox h5{
    text-align: center;
    padding-top: 40px;
}

.lightbox p{
    padding: 30px;
}

.lightbox-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.lightbox-close::before, .lightbox-close::after{
    position: absolute;
    content: '';
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-color: #3A302A;
    width: 20px;
    height: 2px;
}

.lightbox-close::after{
    top: 15px;
    right: 15px;
    transform: rotate(45deg);
}

.lightbox-close::before{
    top: 15px;
    right: 15px;

    transform: rotate(-45deg);
}

.order select{
    -moz-appearance: none;
    -webkit-appearance: none;

    margin: 10px 0;
    width: 100%;
    line-height: 50px;
    border-radius: 25px;
    border: none;

    font-family: 'noto serif tc';
    font-size: 16px;
    letter-spacing: 5px;
    box-sizing: border-box;
    padding: 0 60px ;
    color: #3A302A;

    cursor: pointer;
}

.order input{
    background-color: #98A498;
    margin: 40px 0;
    width: 100%;
    line-height: 50px;
    border-radius: 25px;
    border: none;

    font-family: 'noto serif tc';
    font-size: 16px;
    letter-spacing: 5px;
    box-sizing: border-box;
    padding: 0 60px ;
    color: #fff;
}

/* ======== banner ======= */

.banner{
    width: 100%;
    height: 110vh;
    background-image: url('../img/product/img_banner.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed
}

/* ======== detail ======= */

.detail{
    padding: auto;
}

.detail h2{
    text-align: center;
    letter-spacing: normal;
    padding: 300px 0 200px 0;
}

.description{
    position: relative;
}

.description li{}

.description li h4{
    padding-bottom: 10px;
}

.description li p{
    letter-spacing: 3px;
    line-height: 1.5;
    height: 90px;
    width: 300px;
}

.slide_container{
    position: relative;

    display: block;
    width: 330px;
    height: 350px;
    border-radius: 25px;
    overflow: hidden;

    margin: 0 auto;
    margin-bottom: 150px;

}

.slide{
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    text-align: center;
}

.slide.active {
    display: block;
    opacity: 1;
}

.slide img {
    width: 100%;
    height: auto;
}

#prev, #next {
    position: absolute;
    bottom: -20px;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 16px;
    color: white;
    font-size: 24px;
    user-select: none;
}

#prev:hover, #next:hover{
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#prev {
    left: 0;
}

#next {
    right: 0;
}

.block1{
    position: absolute;
    top: -100px;
    left: 30px;
}

.block2{ 
    position: absolute;
    top: -100px;
    right: 30px;
}

.block3{
    position: absolute;
    top: 150px;
    left: 100px;
}

.block4{
    position: absolute;
    top: 150px;
    right: 80px;
}

/* ======== additional ======= */

.additional{
    text-align: center;
}

.additional h4{}

.additional ul{
    margin: 100px 100px;
    display: flex;
    justify-content: space-around;
}

.additional a{
    display: block;
    width: 120px;
}

.additional .img_block{
    transition: .3s;
}

.additional .img_block:hover{
    transform: scale(1.2) rotate(25deg) translate(10px, -15px);
}

.additional img{
    display: block;
    width: auto;
    max-width: 100px;
    height: 90px;
    margin: 0 auto;
}

.additional p{
    padding-top: 10px;
}

@media screen and (max-width: 415px){
    nav{
        height: auto;
    }

    nav ul{
        left: -300px;
        width: 40vw;
    }

    .outer_grid{
        background-image: none;
    }

    .inner_grid{
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: "text";
        column-gap: 10px;
        height: auto;
    }

    .text_block{
        padding: 30px;
    }

    .subtitle{
        padding-top: 80px;

    }

    .price{
        padding-bottom: 30px;
    }

    .order input{
        margin: 20px 0;
    }

    .detail h2{
        padding: 60px 0;
    }

    .description li{
        position: static;
        padding: 0 40px;
    }

    .additional ul{
        margin: 20px;
        width: auto;
        overflow: scroll;
        justify-content: start;
    }
}

