@import url('all.css');

/* ======== bg_elements ======= */

.star1{
    display: none;
}

/* ======== category_block ======= */

.category_block{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

/* ======== left_column ======= */

.left_column{
    margin: 0 85px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.left_column .text{}

.text h2{
    padding-top: 10px;
    padding-bottom: 30px;
}

.text p{
    padding-bottom: 100px;
}

.text h4{
    padding-bottom: 20px;
}

.left_column a{
    display: block;
    width: 160px;
    margin: 0 auto;
}

.bg_circle{
    background-color: #98A498;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bg_circle img{
    display: block;
    width: 100px;
    margin: 0 auto;

    animation-name: floating;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.left_column a span{
    font-size: 36px;
}


/* ======== right_column ======= */

.right_column{}

.right_column ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.right_column ul li{
    padding-bottom: 60px;
}

.right_column ul li a{
    display: block;
    width: 373px;
}

.right_column ul li a img{
    display: block;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 30px;
}

/* ======== product_block ======= */

.product_block{
    display: flex;
    padding-top: 100px;
}

/* ======== sort ======= */

.sort{
    text-align: center;
    height: 100%;
    position: sticky;
    top: 0;
}

.sort ul{
    display: flex;
    flex-direction: column;
}

.sort li{
    margin: 10px 20px;
}

.sort a{
    display: block;
    width: 170px;
    line-height: 2;
    text-align: center;
    letter-spacing: 3px;
    margin: 0 50px;

    background-color: #fff;
    color: #3A302A;
    border: 1px solid #3A302A;
    border-radius: 20px;

    transition: .3s;

}

.sort li .-clicked, .sort li:hover a{
    color: #fff;
    background-color: #98A498;
    border: 1px solid #fff;
}

/* ======== product_card_block ======= */

.product_card_list{
    display: flex;
    flex-wrap: wrap;
}

.product_card_list li{
    margin: 30px;
}

.product_card{
    width: 170px;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.product_card img{
    display: block;
    width: auto;
    max-width: 110px;
    max-height: 90px;

    transition: .5s;
}

.product_card:hover img{
    transform: rotate(15deg) scale(1.5) translate(20px, -20px);
}

.product_card p{
    font-size: 18px;
    padding-top: 10px;
}

.product_card .price_tag{
    font-family: 'prata';
    font-size: 14px;
    padding-top: 5px;
}

.product_card input[type='submit']{
    width: 150px;
    margin: 10px 0;
}

.product_card input:hover{
    background-color: #98A498;
    color: #fff;

    text-shadow: 1px 1px 7px black;
}

/* ======== pagination ======= */

.pagination{
    padding-top: 50px;
    padding-left: 272px;
    display: flex;
}

.pagination li{}

.pagination li a{
    display: block;
    width: 30px;
    text-align: center;
}

@media screen and (max-width: 415px){
    main.container{
        margin: 20px;
    }

    .category_block{
        flex-direction: column;
        width: auto;
        padding-top: 20px;
    }

    .left_column{
        margin-bottom: 20px;
    }

    .text p{
        padding-bottom: 20px;
    }

    .text h4{
        line-height: 1.2;
    }

    .bg_circle{
        height: 140px;
        width: 140px;
    }

    .right_column ul{
        justify-content: space-evenly;
    }

    .right_column ul li{
        padding-bottom: 20px;
    }

    .right_column ul li a{
        width: 150px;
    }

    .right_column ul li h4{
        font-size: 18px;
    }

    .product_block{
        flex-direction: column;
    }

    .sort h2{
        padding-bottom: 20px;
    }

    .sort ul{
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }

    .sort li{
        margin: 5px;
    }

    .sort a{
        width: 80px;
        margin: 0;
    }

    .product_card_list li{
        margin: 20px 30px;
    }

    .product_card{
        width: 127px;
        height: 230px;
    }

    .shadow{
        width: 70px;
    }

    .product_card p{
        font-size: 16px;
    }

    .pagination{
        padding-left: 0;
        align-items: center;
        justify-content: center;
    }


}