@import url('all.css');

/* ======== bg_elements ======= */

.star1{
    display: none;
}

.touching_finger{
    width: auto;
    left: 80px;
    display: none;
}

.canele{
    display: none;
}

/* ======== top_block ======= */

.top_block{
    margin: 30px auto;
    display: flex;
    justify-content: end;
}

/* ======== schedule ======= */

.schedule{
    background-color: #CDD9DD;
    width: 500px;
    height: 500px;
    border-radius: 50%;

    position: relative;
}

.schedule h2{
    padding-bottom: 30px;
    padding-top: 80px;
    text-align: center;
}

.schedule form{
    margin-top: 20px;
    position: relative;
    text-align: center;
}

.schedule form::after{
    position: absolute;
    content: '';
    font-size: 12px;
    right: 190px;
    top: 11px;

    border-top: 10px solid #3A302A;
    border-right: 6px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 6px solid transparent;
}

.schedule select{
    -moz-appearance: none;
    -webkit-appearance: none;

    width: 150px;
    line-height: 1.8;
    border-radius: 25px;
    border: none;

    font-family: 'noto serif tc';
    font-size: 16px;
    letter-spacing: 5px;
    text-align: center;
    box-sizing: border-box;
    color: #3A302A;
}

/* ======== show_block ======= */

.show_block{
    position: relative;
}

.show_card1, .show_card2{
    width: 60%;
    margin: 0 auto;
    position: relative;
}

.show_card_text{
    padding-bottom: 10px;
}

.show_card_text h5{
    padding-bottom: 5px;
}

.show_card_btn{
    position: absolute;
    top: 10px;
    right: 0;
    margin: auto;


    text-align: center;
}

.show_card_btn a{
    display: block;
    width: 80px;
    margin-bottom: 10px;

    background-color: #fff;
    line-height: 1.8;
    text-align: center;
    border-radius: 5px;

    font-size: 16px;
}

.show_card_btn p{
    opacity: .5;
}

.show_card_btn p:last-child{
    font-size: 12px;
}

/* ======== right_block ======= */

.right_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

/* ======== upcoming ======= */

.upcoming{
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.upcoming h1{
    margin-bottom: 10px;
}

.days{
    position: absolute;
    right: -40px;
    bottom: 50px;
}

/* ======== description_block ======= */

.description_block{
    padding-right: 20px;
    padding-left: 40px;
}

.descrp1,.descrp2{
    display: flex;
    align-items: center;
}

.descrp_img{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 20px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descrp_img img{
    display: block;
    height: 60px;
    width: auto;
}

.descrp_img .shadow{
    width: 68px;
    position: absolute;
    bottom: -20px;
    z-index: -1;
}

.descrp_text{
    padding: 10px;
}

.descrp_text h4{
    padding-bottom: 10px;
}

.descrp_text p{
    font-size: 12px;
    width: 220px;
}

/* ======== calender ======= */

.calender{
    box-sizing: border-box;
    padding-left: 20px;

    overflow:initial;

    position: relative;
}

.calender ul{
    display: flex;
}

.calender ul li {
    cursor: pointer;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.calender ul li h4{
    margin-bottom: 20px;
}

.calender ul li img{
    display: block;
    width: 30px;
    margin-bottom: 10px;
}

.calender .clicked{
    cursor: pointer;

}

.calender .clicked h4{
    font-size: 64px;
}

/* ======== soldout ======= */

.soldout{
    width: 100%;
    margin-top: 70px;
}

.soldout h4{
    text-align: center;
    margin-bottom: 20px;
}

.soldout ul{
    width: 100%;
    display: flex;
    justify-content: center;
}

.soldout ul li{
    width: 192px;
    margin: 0 30px;
    padding: 50px 0;

    background-image: 
        url('../img/schedule/Arch_border.svg'),
        url('../img/schedule/beams.png');
    background-position: center center, top center;
    background-size: contain, cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.soldout ul li img{
    display: block;
    height: 90px;
    padding-top: 35px;
    padding-bottom: 30px;
}

.soldout ul li form{
    display: inline-flex;
    flex-direction: column;

    position: relative;
}

.soldout form::after{
    position: absolute;
    content: '';
    font-size: 12px;
    right: 12px;
    top: 11px;

    border-top: 10px solid #3A302A;
    border-right: 6px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 6px solid transparent;
}

.soldout ul li form select{
    margin-bottom: 15px;
    -moz-appearance: none;
    -webkit-appearance: none;

    width: 100px;
    line-height: 1.8;
    border-radius: 5px;
    border: none;

    font-family: 'noto serif tc';
    font-size: 16px;
    letter-spacing: 5px;
    text-align: center;
    box-sizing: border-box;
    color: #3A302A;
}

.soldout button{
    background-color: #3A302A;
    color: #fff;
    border: 1px solid #3A302A;
    border-radius: 5px;
    font-family: 'noto serif tc';
    line-height: 1.8;
    cursor: pointer;
}
