@import url('all.css');

/* ======== bg_elements ======= */

.star1{
    display: none;
}

.touching_finger{
    width: auto;
    left: 80px;
    display: none;
}

.canele{
    display: none;
}

.white_banner{
    position: absolute;
    top: 130px;
    opacity: 0.6;
    background-image: linear-gradient(white, transparent);
}

/* ======== number_block ======= */

.number_block{
    display: flex;
    margin: 30px 100px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.number_block h4{
    padding-bottom: 30px;
}

.number_block h1{
    padding-bottom: 30px;
}

.schedule{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schedule h2{
    padding-top: 60px;
}

.schedule img{
    display: block;
    width: 240px;
}

.upcoming{
    position: relative;
}

.upcoming .days{
    position: absolute;
}

.upcoming h1{}

.upcoming p{}

.this_month{
    width: 25%;
}

.this_month ul{
    display: flex;
    justify-content: space-between;
}

.this_month ul li{
    width: 120px;
}

/* ======== event_block ======= */

.event_block{
    display: flex;
    /* justify-content: space-around; */
}

/* ======== left_content ======= */

.left_content{
    width: 763px;
    flex-grow: 2;

    display: flex;
    flex-direction: column;
}

.top_content{
    display: flex;
    justify-content: center;
}

/* ======== description_block ======= */

.description_block{
    padding-right: 20px;
    padding-left: 40px;
}

.descrp1,.descrp2{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.descrp_img{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 20px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descrp_img img{
    display: block;
    max-height: 60px;
    width: auto;
}

.descrp_img .shadow{
    width: 68px;
    position: absolute;
    bottom: -20px;
    z-index: -1;
}

.descrp_text{
    padding: 10px;
}

.descrp_text h4{
    padding-bottom: 10px;
}

.descrp_text p{
    font-size: 8px;
    width: 220px;
}

/* ======== show_block ======= */

.show_block{
    position: relative;
}

.show_block h3{
    position: absolute;
    top: -50px;
    right: -270px;
}

.show_card1, .show_card2{
    width: 486px;
    background-image: url('../img/schedule/showcard_bg_blue.svg');

    position: relative;
}

.show_card2{
    background-image: url('../img/schedule/showcard_bg_green.svg');
}

.show_card_text{
    box-sizing: border-box;
    padding: 30px;
    padding-left: 60px;
}

.show_card_text p:first-child{
    font-weight: bold;
}


.show_card_btn{
    position: absolute;
    top: 40px;
    right: 30px;

    text-align: center;
}

.show_card_btn a{
    display: block;
    width: 80px;
    margin-bottom: 10px;

    background-color: #fff;
    line-height: 1.8;
    text-align: center;
    border-radius: 5px;

    font-size: 16px;

}

.show_card_btn p{
    opacity: .5;
}

.show_card_btn p:last-child{
    font-size: 12px;
}

/* ======== soldout ======= */

.soldout{
    width: 100%;
    margin-top: 70px;
}

.soldout h4{
    text-align: center;
    margin-bottom: 20px;
}

.soldout ul{
    width: 100%;
    display: flex;
    justify-content: center;
}

.soldout ul li{
    width: 192px;
    margin: 0 30px;
    padding: 50px 0;

    background-image: 
        url('../img/schedule/Arch_border.svg'),
        url('../img/schedule/beams.png');
    background-position: center center, top center;
    background-size: contain, cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.soldout ul li img{
    display: block;
    height: 90px;
    padding-top: 35px;
    padding-bottom: 30px;
}

.soldout ul li form{
    display: inline-flex;
    flex-direction: column;

    position: relative;
}

.soldout form::after{
    position: absolute;
    content: '';
    font-size: 12px;
    right: 12px;
    top: 11px;

    border-top: 10px solid #3A302A;
    border-right: 6px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 6px solid transparent;
}

.soldout ul li form select{
    margin-bottom: 15px;
    -moz-appearance: none;
    -webkit-appearance: none;

    width: 100px;
    line-height: 1.8;
    border-radius: 5px;
    border: none;

    font-family: 'noto serif tc';
    font-size: 16px;
    letter-spacing: 5px;
    text-align: center;
    box-sizing: border-box;
    color: #3A302A;
}


.soldout button{
    background-color: #3A302A;
    color: #fff;
    border: 1px solid #3A302A;
    border-radius: 5px;
    font-family: 'noto serif tc';
    line-height: 1.8;
}



/* ======== calender ======= */

.calender{
    width: 226px;
    flex-grow: 1;

    border-left: 1px dashed #3A302A;
    box-sizing: border-box;
    padding-left: 20px;

    position: relative;
}

.calender form{
    /* position: absolute;
    top: -40px; */
}

.calender form::after{
    position: absolute;
    content: '';
    font-size: 12px;
    right: 60px;
    top: 11px;

    border-top: 10px solid #3A302A;
    border-right: 6px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 6px solid transparent;
}


.calender select{
    -moz-appearance: none;
    -webkit-appearance: none;

    width: 250px;
    line-height: 1.8;
    border-radius: 25px;
    border: none;

    font-family: 'noto serif tc';
    font-size: 16px;
    letter-spacing: 5px;
    text-align: center;
    box-sizing: border-box;
    color: #3A302A;
}

.calender ul{}

.calender ul li {
    width: 250px;
    height: 50px;
    cursor: pointer;
    box-sizing: border-box;
    /* margin: 10px 0; */
    padding: 30px 10px;
    border-bottom: 1px dashed #3A302A;

    display: flex;
    align-items: center;
}

.calender .clicked{
    width: 250px;
    height: 150px;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    padding: 10px 20px;

    display: flex;
    align-items: center;
}

.calender .clicked h4{
    padding-left: 30px;
    font-family: 'noto sans tc';
    font-size: 40px;
}



.calender ul li img{
    display: block;
    width: 30px;
    padding-left: 30px;
}